include *.txt
include LICENSE
recursive-include sphinx_glpi_theme *.conf
recursive-include sphinx_glpi_theme *.css
recursive-include sphinx_glpi_theme *.eot
recursive-include sphinx_glpi_theme *.html
recursive-include sphinx_glpi_theme *.js
recursive-include sphinx_glpi_theme *.svg
recursive-include sphinx_glpi_theme *.ttf
recursive-include sphinx_glpi_theme *.woff
recursive-include sphinx_glpi_theme *.woff2
recursive-include sphinx_glpi_theme *.png
