#!/usr/bin/env python

from setuptools import setup

__author__ = "%s"

setup(
    name="%s",
    version='1.0',
    description="%s",
    author=__author__,
    packages=["%s"],
    entry_points="""%s""",
)
